.questionBox{
	position: absolute;
	top:44px;
	border: 1px solid red;
	height: 100px;
	width: 100%;
	line-height: 100px;
	text-align: center;
}
.inputBox{
	position: absolute;
	top:164px;
    border: 1px solid red;
    height: 250px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    padding:0px 5px;
    
}
